.layout-flex {
    padding: var(--layout-flex-padding);
}

.layout-flex__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--layout-flex-gap);
}

.layout-flex__cards .card {
    flex: 0 0 var(--layout-flex-card-width);
    max-width: var(--layout-flex-card-width);
    flex-direction: column;
}

/*oculto los botones ya que en mobile dejamos un solo layout en columna*/
@media (max-width: 720px) {
    .controls__button:nth-child(1),
    .controls__button:nth-child(2) {
        display: none;
    }
}